.clock {
  position: relative;
  text-align: center;
  color: #04fff2ef;
  font-size: 60px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}
.text1 {
  position: relative;
  text-align: center;
  color: #04fff2ef;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}
 img {
     margin-top: 120px;
     width: 80%;
}